:root {
    --primary-color: #50a1ff;
    --second-color: #5bc0de;
    --back-color: rgb(0, 25, 44);
  }

body{
    background-color: var(--back-color);
    font-family: 'Open-sans', sans-serif;
}
legend{
    font-size: 25px;
    font-weight: bold;
}

input[type="number"]{
    width:50px;
}

h3{
    border-bottom: 1px solid;
}

/*
* === SCROLLBAR ===
*/

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(100, 100, 100); 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--back-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }



/*
* === LOGIN ===
*/

.div-login{
    display: grid;
    gap:5px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    width: 14em;
}
.error{
    color: red;
    font-size: 0.8em;
    margin-top: 8px;
    margin-bottom: 8px;
}
.info{
    font-size: smaller;
}

/*
* === END LOGIN ===
*/

.container{
    padding: 2px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

/*
* === HEADER ===
*/
.header{
    background-color: transparent;
    color: var(--second-color);
    display: flex; 
    width: auto;
    border-bottom: 1px solid white;
    padding: 7px;
    margin-bottom: 10px;
}
.login-text{
    display: grid;
    gap: 2px;
    grid-template-columns: auto auto;
    padding: 7px
}
.user{
    padding-left: 4px; 
    float: left;
    font-weight: bold;
    font-style: italic;
}
.login-spacer{
    margin-left: auto;
    margin-right: auto;
}
.logout-btn{
    float: left;
    text-decoration: none;
    background-color: var(--second-color);
    color: #ffffff;
    border-radius: 15px;
    padding: 8px 10px 1px 10px;
}


/*
* === MAIN ===
*/
.main-grid{
    display: grid;
    gap: 6px;
    grid-template-columns: 14% auto 20%;
}
.left-bar{
    background-color: var(--primary-color);
    padding: 10px;
    display: grid;
    align-content: start;
    gap: 2px;
}
.main-content{
    background-color: var(--primary-color);
    padding: 10px;
}
.right-bar{
    display: grid;
    grid-gap: 5px;
    min-width: 235px;
    background-color: var(--primary-color);
    padding: 10px;
}

.right-bar div{
    max-height: 200px;
    overflow: auto;
}

/*
* --- Table ---
*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
table, th, td{
    padding: 2px;
    border: 1px solid black;
}
th{
    background-color: rgba(12, 12, 12, 0.295);
}
td{
    font-size: 0.9em;
}
tr:nth-child(even){
    background-color: #07070723;
}


/*
* === ADD FORM ===
*/

.add-form{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
.add-new-section{
    padding-top: 15px;
}
    
/*
* === E100 (AH30) FORM ===
*/

.e100-main-content{
    width: 99%;
    display: grid;
    gap: 6px;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto;
}
.e100-available{
    grid-column: 1;
    grid-row: 2;
}
.e100-inventory{
    grid-column: 2;
    grid-row: 1 / last-line;
}

#availibility-select{
    display: none;
}


/*
* === SET FORM ===
*/

#kit-form legend {
    padding-bottom: 10px;
}
#kit-form label {
    font-weight: bold;
} 
#kit-form div {
    padding: 5px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
}

.kit-form-class{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: stretch;
}
.kit-form-add-button{
    margin:10px;
    padding:5px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2;
}
