body{
    background-color: rgb(11, 61, 102);
    background-image: url("img/tlo.png");
    margin: 20px;
}

.div-login{
    position: absolute;
    background-color: rgb(207, 144, 62);
    background-image: url("img/tlo.png");
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    width: 14em;
}

.error{
    color: red;
    margin-top: 8px;
    margin-bottom: 8px;
}

