:root {
    --primary-color: #50a1ff;
    --second-color: #5bc0de;
  }

body{
    background-color: rgb(0, 24, 42);
    margin: 13px;
    font-family: 'Open-sans', sans-serif;
}
legend{
    font-size: 25px;
    font-weight: bold;
}

input[type="number"]{
    width:50px;
}

h3{
    border-bottom: 1px solid;
}

/*
* === LOGIN ===
*/

.div-login{
    display: grid;
    gap:5px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    width: 14em;
}
.error{
    color: red;
    font-size: 0.8em;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*
* === END LOGIN ===
*/

.container{
    padding: 2px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

/*
* === HEADER ===
*/
.header{
    background-color: transparent;
    color: var(--second-color);
    display: flex; 
    width: auto;
    border-bottom: 1px solid white;
    padding: 7px;
    margin-bottom: 10px;
}
.login-text{
    display: grid;
    gap: 2px;
    grid-template-columns: auto auto;
    padding: 7px
}
.user{
    padding-left: 4px; 
    float: left;
    font-weight: bold;
    font-style: italic;
}
.login-spacer{
    margin-left: auto;
    margin-right: auto;
}
.logout-btn{
    float: left;
    text-decoration: none;
    background-color: var(--second-color);
    color: #ffffff;
    border-radius: 15px;
    padding: 8px 10px 1px 10px;
}


/*
* === MAIN ===
*/
.main-grid{
    display: grid;
    gap: 6px;
    grid-template-columns: 14% auto 20%;
}
.left-bar{
    background-color: var(--primary-color);
    padding: 10px;
    display: grid;
    gap: 2px;
}
.main-content{
    background-color: var(--primary-color);
    padding: 10px;
}
.right-bar{
    background-color: var(--primary-color);
    padding: 10px;
}

/*
* --- Table ---
*/
table{
    width: 100%;
    border-collapse: collapse;
}
table, th, td{
    padding: 2px;
    border: 1px solid black;
}
th{
    background-color: rgba(12, 12, 12, 0.295);
}
td{
    font-size: 0.9em;
}
tr:nth-child(even){
    background-color: #07070723;
}


/*
* === ADD FORM ===
*/

.add-form{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
.add-new-section{
    padding-top: 15px;
}
    
/*
* === E100 FORM ===
*/

.e100-main-content{
    width: 99%;
    display: grid;
    gap: 6px;
    grid-template-columns: 80% 20%;
}

